body {
    padding: 0;
}

header {
    background-color: #a7a7a7;
    width: 100%;
    position:absolute;
    left:0;
    top:0;
    padding: 1vh, 10px, 3px;
    height: 5vh;
}

.flex {
    display: flexbox;
    justify-content: center;
    width: 85%;
    position:absolute;
    left:0;
    top:0;
}

.tab {
    padding: 0.3rem, 1rem, 0.2rem, 1rem;
    margin-top: 0.7rem;
    margin-left: 0.3rem;
    border-bottom: 0.3rem solid black;
    border-radius: 0px, 0px, 50px, 50px;
    display: inline-block;
    transition: background-color 250ms, transform 0.5s;
    font-size: 2vh;
}

.tab > h4 {
    margin: 0;
    padding: 0;
    transition: transform 0.5s;
}

.tab:hover {
    transform: scaleX(1.05);
}
.tab:hover > h4 {
    transform: scaleX(0.90);
}

.tab:active {
    background-color: rgba(105, 105, 105, 0.301);
}