body {
    padding: 0;
}

main {
    height: 92vh;
    width: 100vw;
    margin-left: -0.4vw;
    margin-top: 5vh;
    padding: 0;
}

header {
    background-color: #211a31;
    width: 100%;
    position:absolute;
    left:0;
    top:0;
    height: 5%;
    padding: 0.5vh, 0;
}

footer {
    background-color: #211a31;
    width: 100%;
    position:absolute;
    left:0;
    bottom:0;
    height: 3%;
    padding: 3px;
}

aside {
    width: 19.5vw;
    height: 92vh;
    background-color: #382d53;
    display: inline-block;
    border-left: 0.5vw solid #211a31;
}

#buffer {
    width: 0.35vw;
    background-color: #211a31;
}

#page-iframe {
    min-width: 80vw;
    display: inline-block;
}

.flex {
    display: flex;
}

.tab {
    background-color: #34294b;
    transition: background-color 0.5s;
    max-width: 10%;
    height: 85%;
    display: inline-block;
    margin:0px;
    margin-left: 0.3vw;
    padding: 2px;
    font-size: 1.5cqw;
    color: rgb(104, 135, 138);
    padding: 0px, 0.5vw;
}

.tab:hover {
    background-color: #3b3549;
}